body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  text-decoration-color: #40514E;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 2;
}
p{
  line-height: 2;
}

a{
  color: #11999E;
  text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
  color:#EAF6F6;
}

  hr {
    border-style: dotted none none none;
    border-color: #EAF6F6;
    border-width: 8px;
    width: 8%;
    margin:100px auto;
}

.separate {
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-size: 2.5rem;
  color: #66BFBF
}

.top-container {
  font-family: 'Sacramento', cursive;
  background-color: #E4F9F5;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  padding-top: 100px;
}

.main-line {
  color: #66BFBF
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 40px;
}

.skill-2 {
  width: 25%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
  background-color: grey;
}

.skill-1 {
  width: 25%;
  border-radius: 100%;
  float: left;
  padding-right: 13px;
  margin-right: 30px;
}

.separate-2 {
  color: #11999E;
}

.footer-link {
  color: #66BFBF
}

.btn {
  color: #66BFBF
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;

}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 30px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #2bc4ad);
  background-image: -moz-linear-gradient(top, #3cb0fd, #2bc4ad);
  background-image: -ms-linear-gradient(top, #3cb0fd, #2bc4ad);
  background-image: -o-linear-gradient(top, #3cb0fd, #2bc4ad);
  background-image: linear-gradient(to bottom, #3cb0fd, #2bc4ad);
  text-decoration: none;
}

.middle-conatiner {
  margin: 100px auto 0 auto;
}
.bottom-container{
  background-color:#66BFBF;
 padding: 30px 0 20px;
}

.boy-1 {
  margin-top: 38px;
  border-radius: 100%;
}

.intro {
  width: 30%;
  margin: auto;
}
.contact-message{
  width:40%;
  margin:40px auto 60px ;
}
.contact-me{
  margin-bottom: 0px;
  padding-bottom: 50px;
}
.copyright{
  margin-top: 25px
}
